/* start of general styles */

body, html {
    margin: 0px;
    padding: 0px;
    /* scroll-behavior: smooth !important; not working*/

}

:root {
    color: rgb(0, 0, 0);
    font-family: 'Courier New';
}

/* end of general styles */

/* start of main styles */
main {
    background-image: url("images/mainbg.jpg");
    width:100%;
    height: 2570px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

/* end of main styles */

/* start of nav styles */
.navbar {
    width:1200px;    
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    margin: 0px auto;
    position: sticky;
    top: 0;
}


.divlogo {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}


.divlogo img + li {
    display: flex;
}

.divlogo img {
    width:50px;
    height: 50px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
      }
    100% {
        transform: rotate(360deg);
}
}

.divlogo ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;

}


.divlogo a, .navmenu ul a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;

}

.divlogo a:hover {
    cursor: pointer;
} 

.navmenu ul li a {
    text-decoration: none;
    position: relative; 
}

.navmenu ul li a::after {
    content: ''; 
    position: absolute; 
    bottom: 0;    
    left: 0; 
    width: 0;
    height: 1px;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s ease; 
}

.navmenu ul li a:hover::after {
    width: 100%; 
}

.navmenu {
    width: 70%;
}

.navmenu ul {
    display: flex;
    list-style: none;    
    justify-content: space-evenly;
}

.navmenu ul li {   
    align-items: center;
}

/* end of nav styles */


/* start of section main styles */

.sectionmain {
    width: 1200px;
    height: 500px;
    margin: 0px auto;
 
}

/* end of section main styles */

/* start of section about styles */

#secabout {
    width: 1200px;
    height: 500px;
    background-color: rgb(89, 164, 187);
    margin: 0px auto;

}

/* end of section about styles */

/* start of section services styles */

#secservices {
    width: 1200px;
    height: 500px;
    background-color: rgb(203, 81, 181);
    margin: 0px auto;

}

/* end of section services styles */

/* start of section payment styles */

#secpayments {
    width: 1200px;
    height: 500px;
    background-color: rgb(192, 195, 109);
    margin: 0px auto;

}

/* end of payment section styles */

/* start of payments sections styles */

#secmyaccounts {
    width: 1200px;
    height: 500px;
    background-color: rgb(86, 209, 86);
    margin: 0px auto;

}

/* end of payment section styles */


/* start of footer styles */

footer {
    width: 1200px;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 1500px auto 0px auto;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
 
}

footer h1 {
    font-size: 20px;
}

footer div {
    margin-top: 20px;
}

.footlogo {
    width: 30%;
    display: flex;
    flex-direction: column;

}

.footlogo h1 {
    list-style: none;
    text-decoration: none; 
    margin: 0px;
    padding: 0px;
}

.footlogo p {
    text-align: justify;
}

.footlogo .aced-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}


.footlogo .aced-icons img {
    width: 50px;
    height: 50px;
}

footer .foot-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer .foot-connect h1 {
    margin-bottom: 30px;
}

footer .foot-connect img {
    width: 50px;
    height: 50px;
    justify-content: center;
}

.foot-connect img {
    transition: filter 0.3s;
}

.foot-connect img:hover {
    filter: brightness(0.5);
}

.footlogo > div:last-child {
    display: flex;
    align-self: center;
    margin-top: 0px;
    
}


.foot-connect {
    width: auto;
}

.foot-connect img:hover {
    
}

.foot-message {
    width: 40%;    
}


footer .foot-message h1 {
    margin-bottom: 50px;
}

.foot-message form {
    height: 450px;
    display: flex;
    flex-direction: column;
}

form h1, h4 {
    text-align: center;
    
}

form h4 {
    margin-top: 0px;
    font-family: sans-serif;
}

form .email {
    width: 70%;
    height: 30px;
    align-self: center;
    border-radius: 2px;
    border: none;
}

form .message-paragraph {
    width: 70%;
    height: 100px;
    margin-top: 10px;
    align-self: center;
    border-radius: 5px;
    border: none;
}

form .message-paragraph, .email {
    justify-content: end;
}

.email::placeholder,
.message-paragraph::placeholder {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    width: 90px;
    align-self: center;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    background-color:rgb(30,144,255);
    color: white;
    font-family: arial;
    padding: 4px;
}

form button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.2s ease;
    color: black;
    box-shadow: 2px 2px;

}

/* end of footer styles */