:root {
    --primary: #0275d8;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --inverse: #292b2c;
    --default: #f7f7f7;
}

body, html {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 0px auto;
    width: 1690px;
    border: 1px solid #000000;
}

img {
    width: 100%;
}